* {margin: 0; padding: 0; }


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav{
    width: 100%;
    height: 70px;
    background-color:rgb(255, 184, 117);
    display:flex;
    border-bottom: 3px solid #ed8116;
    
}
.left-nav{
    width: 50%;
    margin-left: 0;

    padding: 1px;
    padding-top: 15px;
}
.nav-title{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    border: 1px solid #ed8116;
    border-radius: 12px;
    background-color: #ed8116;
}

.right-nav{
    width: 50%;
    margin-right: 0;
    padding: 1px;
    padding-top: 20px;
}

.nav-login{
    margin-left: 85%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #000000;

}

.nav-post{
    margin-left: 70%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #000000;

}

.main{
    margin-top: 50px;
    width: 950px;
    height: 900px;
    background-color: rgb(255, 241, 217);
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    padding: 1px;
}

.main-top{
    width: 100%;
    height: 230px;
    padding: 40px;
}

.main-top-text{
    font-size: 40px;
    font-weight: bold;
}

.main-top-image{
    width: 200px;
    border-radius: 15px;
}

.main-med{
    width: 100%;
    height: 40%;
    padding: 40px;
}

.main-med-text{
    font-size: 40px;
    font-weight: bold;
}

.main-med-text2{
    font-size: 30px;
    font-weight: bold;
}

.main-med-input{
    width: 80%;
    height: 300px;
}


.main-bottom{
    width: 100%;
    height: 130px;
}

.main-bottom-button{
    margin-left: 85%;
    margin-top: 60px;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}